# *.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see
# http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.log
*.log.*
*.classpath

*.DS_Store
bin/
build/
# classes/
files/
flash_files/
logs/

*.project
.gradle
*.settings
lab_cloud/src/main/webapp/images/student/
node_modules
.tmp
.sass-cache
# bower_components/
.idea
.settings/

*.iws
*.ipr
*.iml

