<div type="user-info-dialog">
    <div class="btnGroup">
        <button class="btn cdi-btn-default left" ng-click="cancel()">取消</button>
        <button class="btn cdi-btn-blue right btn-save" ng-click="save()">确认</button>
        <div class="title">添加录音棚</div>
    </div>
    <div >
        <div class="content user-info" style="margin-top:10px;">
            <!-- <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">编号</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input type="text" name="name" ng-model="data.name" class="right form-control"/>
                </div>
            </div> -->

            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;">名称</div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <input type="text" name="name" ng-model="data.name" class="right form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="cell title" style="width: 37%;height: 45px;">备注</div>
                <div class="cell" style="width: 63%;height: 45px;">
                    <textarea  ng-model="data.description" class="right form-control text-right"></textarea>
                </div>
            </div>
        </div>
        <div class="slider2" style="margin-top: 16px;"></div>

        <div class="content">
            <div class="row">
                <div class="cell title" style="width: 37%;height: 50px;"></div>
                <div class="cell" style="width: 63%;height: 50px;">
                    <span class="red">{{message}}</span>
                </div>
            </div>
        </div>
    </div>
</div>